<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1 class="titulo">Art's Club</h1>
  
  <div id="carousel" class="carousel">
    <img src="/imagem1slide.gif" alt="Imagem slide 1">
    <img src="/imagem2slide.webp" alt="Imagem slide 2">
    <img src="/imagem3slide.webp" alt="Imagem slide 3">
    <img src="/imagem4slide.gif" alt="Imagem slide 4">
</div>
<div style="text-align: center;">
  <h3>Espalhando Arte, Revelando Artistas, Formando Colecionadores.</h3>
</div>


<div class="coluna-produto">
  <% for (let produto of produtos) { %>
  <div class="quadro">
      <a href="/produto?id=<%= produto.id %>">
          <img src="<%= produto.imagem %>" alt="Imagem do Produto">
          <h2><%= produto.nome %></h2>
          <p><%= produto.preco %></p>
          <p><%= produto.descricao %></p>
      </a>
  </div>
  </div>
  <div class="coluna-produto">
  </div>
  <% } %>
</div>



  <script>
    //codigo para passar o carrossel
    var carrossel = document.getElementById('carousel');
    var indice = 0;
    
    function transicao() {
      indice = (indice + 1) % carrossel.children.length;
      
      for (var i = 0; i < carrossel.children.length; i++) {
        var img = carrossel.children[i];
        img.style.display = (i === indice) ? 'block' : 'none';
      }
    }
    
    setInterval(transicao, 3000);
    </script>
    
</body>
</html>